xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (nome, descricao, ingredientes, preco, calorias, tempoDePreparo)>
<!ATTLIST prato id ID #REQUIRED>

<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda (BRL|USD) "BRL">
<!ENTITY reais "R$">

<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoDePreparo (#PCDATA)>